*{
  margin:0;
  padding: 0;
}
body{
  background-color: #303030;
  background-image:
}
section{
  height: 100vh
}

section>div{
  height: 90vh;
}
section button{
  height: 10vh
}
/* nav{
position: fixed;
bottom: 0%;
z-index: 10;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
background-color:#303030;
height: 15%;

} */
/* Style each tab content individually */
#accueil {background-color:#F6B112;}
#skills {background-color:green;}
#exp {background-color:blue;}
#dlcv {background-color:orange;}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}
nav button:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


button img{
  height: 100%;
}
button{
  width: calc(100%/4);
}
.images{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

#accueil{
  display: block;
  background: url("https://img.freepik.com/photos-premium/portrait-homme-souriant-montrant-signe-ok_23-2148666495.jpg?w=2000")

}


h1{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
}

#accueil img{
;
}



/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.images img{
  padding-top: 10%;
  display: flex;
  width:80%;

}






/* test */
/* reset */
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}

.menu {
  position: absolute;
  top: 10%;
  left: 0;
  background: #f6e7d8;
  width: 60px;
  height: 50%;
  transform: translate3d(-60px, 0, 0);
  transition: transform 0.35s;
}
.menu label.menu-toggle {
  position: absolute;
  top: 0%;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: #f6e7d8 url(../img/contact.png) 50% 50%/30px 30px no-repeat;
}

@font-face {
  font-family: 'opensansbold';
  src:url("../font/static/OpenSans/OpenSans-bold.ttf") format("truetype")
}

.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
  font-family: 'opensansbold';
}

.menu ul li a:hover, .menu ul li label:hover {
  color: white;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

/* for show */
html, body {
  height: 100%;
}



p {
  margin-bottom: 15px;
}
